body {
    background-color: #201835;
    color: #e0e0e0;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

p {
    margin-top: 1;
}

a {
    color: #00e5ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.0s ease-in-out;
}

a:hover {
    color: #b6faff;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 5px;
    background: #8c80cf;
    margin: 40px 0;
}